{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ecommerce{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% provider_login_url 'google' %}">Login with Google</a></li>

            {% endif %}
        </ul>
    </nav>
    <div class="container mx-auto px-4">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
